* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --cor-branco: #F6F6F6;
    --cor-azul: #22D4FD;
    --cor-preto: #000000;
    --montserrat-font: "Montserrat", sans-serif;
    --krona-one-font: "Krona One", sans-serif;
}
html {
    font-size: 16px;
}
body {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    width: 593px;
    margin-right: 58px;
}
h1 {
    font-family: var(--krona-one-font);
    font-size: 2.25rem;
    line-height: 56px;
    font-weight: 400;
    margin-bottom: 40px;
}
p {
    font-family: var(--montserrat-font);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 51px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.btn {
    font-family: var(--montserrat-font);
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    color: var(--cor-preto);
    background-color: var(--cor-azul);
    border-radius: 16px;
    width: 280px;
    padding: 21px 0;
}
.destaque-title, .destaque-text {
    color: var(--cor-azul);
}